header {
    height: 100vh;
    padding-top: 2rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.header__container h5 {
    font-size: 0.7rem;
}

/* =============== CTA ================ */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ============== Socials ============== */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    font-size: 1.2rem;
    transform: scale(1);
    z-index: 1;
}

.header__socials .header-icon-social-1:hover {
    transform: scale(1.3);
    color: #0A66C2;
}

.header__socials .header-icon-social-2:hover {
    transform: scale(1.3);
    color: #24292F;
}

.header__socials .header-icon-social-3:hover {
    transform: scale(1.3);
    color: #EA4C89;
}

.header__socials .header-icon-social-4:hover {
    transform: scale(1.3);
    color: #f5f543;
}

.header__socials .header-icon-social-5:hover {
    transform: scale(1.3);
    color: #F49C47;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ============== Icons download  =============*/
.icon-download {
    font-size: 1.2rem;
    margin: 4px 4px 0 4px;
}


/* ================= ME ============= */
.me {
    /* background: linear-gradient(var(--color-primary), transparent); */
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 2rem;
    border-radius: 5rem;
    overflow: hidden;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
}

/* ================= Scroll Down ============= */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    font-weight: 400;
    font-size: 1rem;
    bottom: 5rem;
}

.home__scroll-name {
    font-size: 1rem;
    display: none;
}

.scroll__down:hover .home__scroll-name {
    display: block;
    background: linear-gradient(45deg, #a955ff, #ea51ff);
    box-shadow: 0 30px linear-gradient(45deg, #a955ff, #ea51ff);
    color: var(--color-white);
    border-radius: 10px;
    gap: 1rem;
    height: 40px;
    width: 130px;
    padding: 0 8px;
    line-height: 40px;
    transition: 1s;
    transform: rotate(90deg);
}

.scroll__down:hover .home__scroll-name::after {
   content: '';
   position: absolute;
   top: 10px;
   width: 100%;
   background: linear-gradient(90deg, #55CCF2, #2F80FD);
   transition: 0.5s;
   filter: blur(15px);
   z-index: -1;
   opacity: 0;
}

.scroll__down:hover .home__scroll-name::after {
    opacity: 1;
 }

.scroll__down:hover .mouse {
    display: none;
}

.mouse {
    border: 2px solid #2F80FD;
    display: block;
    height: 2rem;
    width: 1.5rem;
    margin: auto;
    margin: 0.5rem;
    border-radius: 1rem;
    position: relative;
}

.wheel {
    background-color: #2F80FD;
    border-radius: 100%;
    width: 0.3rem;
    height: 0.3rem;
    position: absolute;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    animation: ani-mouse 1.5s linear infinite;
}

@keyframes ani-mouse {
    0% {
        top: 20%;
    }

    15% {
        top: 50%;
    }

    50% {
        top: 50%;
    }

    100% {
        top: 20%;
    }
    
}

/* =============== Shapes =============== */
.shapes {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.shape {
    position: absolute;
}

.s1 {
    left: 2%;
    top: 10%;
}

.s2 {
    left: 18%;
    top: 30%;
}

.s3 {
    left: 5%;
    bottom: 30%;
}

.s4 {
    left: 2%;
    top: 10%;
}

.s5 {
    left: 30%;
    top: 1%;
}

.s6 {
    left: 22%;
    bottom: 10%;
}

.s7 {
    top: 15%;
    right: 25%;
}

.s8 {
    right: 24%;
    bottom: 20%;
}

.s9 {
    right: 2%;
    top: 10%;
}

.s10 {
    top: 45%;
    right: 11%;
}

.s11 {
    bottom: 10%;
    right: 5%;
}

/* ====================== MEDIA QUERIES (MEDIUM DEVICES) ================================ */
@media screen and (max-width: 1023px) {
    header {
        height: 68vh;
    }
    /* .style__switcher {
        display: none;
    } */
    .style__switcher .theme__colors-wrap {
        display: none;
    }
    .style__switcher h4 {
        display: none;
    }

    .style__switcher .s__icon {
        display: block;
        top: -250px;
        right: -20px;
        margin: 0 10px;
        right: -20%;
    }
}

/* ====================== MEDIA QUERIES (SMALL DEVICES) ================================ */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
    /* .style__switcher {
        display: none;
    } */

    .style__switcher .theme__colors-wrap {
        display: none;
    }
    .style__switcher h4 {
        display: none;
    }

    .style__switcher .s__icon {
        display: block;
        top: -150px;
        right: -20px;
    }
}
