@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: hsl(225, 50%, 38%);
    --color-bg-variant: hsl(211, 61%, 40%);
    --color-primary: #41ec63;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --color-text: #2F1C6A;
    --title-color: hsl(250, 8%, 15%);
    --shadow: hsla(0, 0%, 15%, .1);

    --transition: all 500ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-white);
    color: var(--color-white);
    line-height: 1.7;
    background-color: #FAFBFF;
}

/* ================= GENERAL STYLES =================== */
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 8rem;
}

section > h2, 
section > h5 {
    text-align: center;
    color: rgb(235, 45, 216);
}

section > h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

.text-dark {
    color: #2F1C6A;
}

.text-white {
    color: #fff;
    font-weight: 500;
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover {
    color: var(--color-text);
}

@keyframes button-push {
    50% {
      transform: scale(0.9);
    }
  
    100% {
      transform: scale(1);
    }
  }

.btn {
    max-width: fit-content;
    position: relative;
    text-decoration: none;
    background: hsl(353, 100%, 65%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    padding: 10px 10px;
    transition: 0.5s;
    border-radius: 15px;
    z-index: 1;
}

.btn:hover {
    letter-spacing: 0.25em;
    color: #fff;
    box-shadow: 0 0 35px hsl(353, 100%, 65%);
    cursor: pointer;
  }

  /* ========== Growing btn Hover Effects =========== */
/* .btn::before {
    content: '';
    position: absolute;
    inset: 2;
    background: #27282c;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn i {
    position: absolute;
    inset: 0;
    display: block;
}

.btn i::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 100%;
    transform: translateX(-50%);
    height: 10px;
    width: 10px;
    background: #4a67dd;
    border: 2px solid #4a67dd;
    transition: 0.5s;
}

.btn:hover i::before {
    left: 0%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 35px 35px #4a67dd;
}

.btn i::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0%;
    transform: translateX(-50%);
    height: 10px;
    width: 10px;
    background: #4a67dd;
    border: 2px solid #4a67dd;
    transition: 0.5s;
}

.btn:hover i::after {
    left: 100%;
    transform: translateX(-50%) rotate(-45deg);
    box-shadow: 35px -35px #4a67dd;
} */

.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    z-index: 1;
}

.btn-primary:hover {
    color: var(--color-white);
    box-shadow: 0 0 35px #41ec63;
    animation: button-push 0.3s linear 1;
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 16px 13px 10px rgb(69 67 96 / 3%);
}


/* ====================== MEDIA QUERIES (MEDIUM DEVICES) ================================ */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 3rem;
    }
}

/* ====================== MEDIA QUERIES (SMALL DEVICES) ================================ */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-bottom: 2rem;
    }
}



