nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 10;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50px;
    display: flex;
    color: var(--color-white);
    font-size: 1.2rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.2);
}

nav a.active {
    background: #29fd53;
    color: var(--color-white);
}